In [1]:
import pandas as pd

In [2]:
data = [1,2,3,4,5]
index = ['a','b','c','d','e']
series = pd.Series(data)
series_with_custom_index = pd.Series(data,index=index)
print(series)
print(series_with_custom_index)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [3]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df_with_custom_index = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['c0','c1','c2'], index=['r0','r1','r2'])
print(df)
print(df_with_custom_index)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
    c0  c1  c2
r0   1   2   3
r1   4   5   6
r2   7   8   9

In [4]:
df_with_custom_index.index

Index(['r0', 'r1', 'r2'], dtype='object')

In [5]:
df_with_custom_index.columns

Index(['c0', 'c1', 'c2'], dtype='object')

In [6]:
print("size",df_with_custom_index.size)
print("shape",df_with_custom_index.shape)
print("###########")
print(df_with_custom_index.info())

size 9
shape (3, 3)
###########
<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, r0 to r2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c0      3 non-null      int64
 1   c1      3 non-null      int64
 2   c2      3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes
None

In [7]:
obesity_data = pd.read_csv('./obesity_prediction.csv')
obesity_data.head() # Prints First 5 Rows

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [8]:
obesity_data.tail() # Prints Last 5 Rows

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [9]:
obesity_data.head(10) # Prints First 10 Rows

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight

In [10]:
obesity_data.tail(10) # Prints Last 10 Rows

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2101,Female,25.722004,1.628470,107.218949,yes,yes,3.0,3.0,Sometimes,no,2.487070,no,0.067329,0.455823,Sometimes,Public_Transportation,Obesity_Type_III
2102,Female,25.765628,1.627839,108.107360,yes,yes,3.0,3.0,Sometimes,no,2.320068,no,0.045246,0.413106,Sometimes,Public_Transportation,Obesity_Type_III
2103,Female,21.016849,1.724268,133.033523,yes,yes,3.0,3.0,Sometimes,no,1.650612,no,1.537639,0.912457,Sometimes,Public_Transportation,Obesity_Type_III
2104,Female,21.682367,1.732383,133.043941,yes,yes,3.0,3.0,Sometimes,no,1.610768,no,1.510398,0.931455,Sometimes,Public_Transportation,Obesity_Type_III
2105,Female,21.285965,1.726920,131.335786,yes,yes,3.0,3.0,Sometimes,no,1.796267,no,1.728332,0.897924,Sometimes,Public_Transportation,Obesity_Type_III
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [11]:
obesity_data.sample() # Give random Sample Data

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
934,Male,19.576682,1.834715,89.429199,yes,yes,2.342323,3.60885,Sometimes,no,2.878866,no,2.0,0.208323,Sometimes,Public_Transportation,Overweight_Level_I

In [12]:
obesity_data.sample(10) # Give random 10 Sample Data

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.000000,1.560000,49.000000,no,yes,2.000000,3.000000,Sometimes,no,1.000000,yes,2.000000,0.000000,no,Walking,Normal_Weight
890,Female,18.236087,1.620000,69.389900,yes,yes,2.223990,1.000000,Sometimes,no,2.203120,no,0.104451,1.899073,no,Public_Transportation,Overweight_Level_I
580,Male,17.000000,1.824414,59.295172,yes,yes,2.432302,3.000000,Sometimes,no,2.000000,no,2.349495,1.000000,no,Automobile,Insufficient_Weight
18,Female,30.000000,1.710000,82.000000,yes,yes,3.000000,4.000000,Frequently,yes,1.000000,no,0.000000,0.000000,no,Automobile,Overweight_Level_II
91,Female,20.000000,1.610000,64.000000,yes,no,3.000000,3.000000,Always,no,2.000000,yes,0.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
1439,Female,40.654155,1.529060,79.760922,yes,yes,2.000000,3.000000,Sometimes,no,1.000000,no,0.000000,0.000000,Sometimes,Automobile,Obesity_Type_I
208,Female,22.000000,1.690000,65.000000,yes,yes,2.000000,3.000000,Sometimes,no,2.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
2033,Female,26.000000,1.643017,111.720238,yes,yes,3.000000,3.000000,Sometimes,no,2.632498,no,0.000000,0.140792,Sometimes,Public_Transportation,Obesity_Type_III
1069,Female,30.711381,1.536819,65.912688,yes,no,2.030256,2.948721,Sometimes,no,1.984323,no,0.986414,0.333673,no,Public_Transportation,Overweight_Level_II
1815,Female,18.771001,1.746652,133.800129,yes,yes,3.000000,3.000000,Sometimes,no,2.869234,no,1.465931,0.627886,Sometimes,Public_Transportation,Obesity_Type_III

In [13]:
obesity_data.sample(10,random_state=12) # Give data acc to random State Data on same random State value remains same

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
695,Male,19.729250,1.793315,58.195150,yes,yes,2.508835,3.435905,Sometimes,no,2.076933,no,2.026668,1.443328,no,Automobile,Insufficient_Weight
268,Male,17.000000,1.670000,60.000000,no,no,2.000000,4.000000,Always,no,2.000000,no,0.000000,2.000000,no,Public_Transportation,Normal_Weight
502,Female,21.900120,1.843419,165.057269,yes,yes,3.000000,3.000000,Sometimes,no,2.406541,no,0.100320,0.479221,Sometimes,Public_Transportation,Obesity_Type_III
823,Female,21.909534,1.611356,68.066090,yes,yes,1.834155,3.995957,Sometimes,no,2.632871,no,1.236114,1.980875,Sometimes,Public_Transportation,Overweight_Level_I
1497,Female,18.000000,1.692913,89.938890,yes,yes,2.818502,3.000000,Sometimes,no,1.991251,no,1.492967,0.000000,no,Public_Transportation,Obesity_Type_I
16,Male,27.000000,1.930000,102.000000,yes,yes,2.000000,1.000000,Sometimes,no,1.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
690,Male,17.521754,1.757958,52.094320,no,yes,2.214980,2.641550,Sometimes,no,2.121251,no,0.998391,0.858820,Sometimes,Public_Transportation,Insufficient_Weight
111,Female,22.000000,1.580000,58.000000,yes,yes,2.000000,1.000000,Sometimes,no,1.000000,no,0.000000,0.000000,no,Public_Transportation,Normal_Weight
913,Male,21.000000,1.610209,68.865008,no,yes,1.910176,2.938135,no,no,2.943097,no,0.997202,0.207922,Sometimes,Public_Transportation,Overweight_Level_I
1686,Male,23.812795,1.767121,116.164351,yes,yes,1.655684,3.000000,Sometimes,no,2.000000,no,0.976425,0.690082,Sometimes,Public_Transportation,Obesity_Type_II

In [14]:
obesity_data.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC',
       'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS',
       'Obesity'],
      dtype='object')

In [15]:
list(obesity_data.columns)

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [16]:
obesity_data.columns.tolist()

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history',
 'FAVC',
 'FCVC',
 'NCP',
 'CAEC',
 'SMOKE',
 'CH2O',
 'SCC',
 'FAF',
 'TUE',
 'CALC',
 'MTRANS',
 'Obesity']

In [17]:
obesity_data.shape

(2111, 17)

In [18]:
obesity_data.size # Number of elements in the object

35887

In [19]:
obesity_data.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [20]:
obesity_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [21]:

obesity_data.loc[0,'Age']  # 0th row Age Column Value

np.float64(21.0)

In [22]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [23]:
obesity_data.loc[0:10,"Age"] # Both 0 and 10 are inclusive

0     21.0
1     21.0
2     23.0
3     27.0
4     22.0
5     29.0
6     23.0
7     22.0
8     24.0
9     22.0
10    26.0
Name: Age, dtype: float64

In [24]:
obesity_data.loc[[0,7,10],["Age","Height","Weight"]]

     Age  Height  Weight
0   21.0    1.62    64.0
7   22.0    1.64    53.0
10  26.0    1.85   105.0

In [25]:
obesity_data.loc[8:16,"Age":"FAF"]

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF
8,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0
9,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0
10,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0
11,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0
12,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0
13,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0
14,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0
15,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0
16,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0

In [26]:
obesity_data.loc[0:10]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I

In [27]:
obesity_data.loc[:,"Age":"SMOKE"]

,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE
0,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no
1,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes
2,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no
3,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no
4,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no
...,...,...,...,...,...,...,...,...,...
2106,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no
2107,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no
2108,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no
2109,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no
2110,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no

In [28]:
# Index based
obesity_data.iloc[0:10 , 0:5] # also Notice in this second value is exclusive

   Gender   Age  Height  Weight family_history
0  Female  21.0    1.62    64.0            yes
1  Female  21.0    1.52    56.0            yes
2    Male  23.0    1.80    77.0            yes
3    Male  27.0    1.80    87.0             no
4    Male  22.0    1.78    89.8             no
5    Male  29.0    1.62    53.0             no
6  Female  23.0    1.50    55.0            yes
7    Male  22.0    1.64    53.0             no
8    Male  24.0    1.78    64.0            yes
9    Male  22.0    1.72    68.0            yes

In [29]:
obesity_data.iloc[[10,20,30] , [0,3,5]]

   Gender  Weight FAVC
10   Male   105.0  yes
20   Male    80.0   no
30   Male    83.0  yes

In [30]:
# optimized for single value access we can also use loc iloc for same but this is optimized for single value
obesity_data.at[0,"Age"]

np.float64(21.0)

In [31]:
# obesity_data.at[0:20,"Age"]  # This will gave error

In [32]:
obesity_data.iat[10,2] # Similar as iloc but optimized for single value

np.float64(1.85)

In [33]:
obesity_data['Age']

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [34]:
obesity_data.SMOKE

0        no
1       yes
2        no
3        no
4        no
       ...
2106     no
2107     no
2108     no
2109     no
2110     no
Name: SMOKE, Length: 2111, dtype: object

## Filtering Data

In [35]:
obesity_data.head(20)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
16,Male,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
17,Female,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I
18,Female,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II
19,Female,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I

In [36]:

obesity_data.loc[obesity_data['Height']>1.8]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
10,Male,26.000000,1.850000,105.000000,yes,yes,3.0,3.0,Frequently,no,3.000000,no,2.000000,2.000000,Sometimes,Public_Transportation,Obesity_Type_I
16,Male,27.000000,1.930000,102.000000,yes,yes,2.0,1.0,Sometimes,no,1.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
24,Male,21.000000,1.850000,68.000000,yes,yes,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
44,Male,21.000000,1.810000,80.000000,no,no,1.0,3.0,no,no,2.000000,no,2.000000,0.000000,no,Public_Transportation,Normal_Weight
46,Male,21.000000,1.820000,72.000000,yes,yes,1.0,3.0,Frequently,no,3.000000,no,2.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998,Female,21.291969,1.800200,155.242672,yes,yes,3.0,3.0,Sometimes,no,2.351193,no,1.051889,0.686491,Sometimes,Public_Transportation,Obesity_Type_III
2027,Female,18.206340,1.807406,141.799429,yes,yes,3.0,3.0,Sometimes,no,2.472903,no,1.998047,0.840911,Sometimes,Public_Transportation,Obesity_Type_III
2029,Female,20.438478,1.805803,153.149491,yes,yes,3.0,3.0,Sometimes,no,2.387991,no,0.850715,0.656491,Sometimes,Public_Transportation,Obesity_Type_III
2076,Female,19.528936,1.817917,142.559161,yes,yes,3.0,3.0,Sometimes,no,2.562002,no,1.976427,0.740331,Sometimes,Public_Transportation,Obesity_Type_III
2077,Female,19.364339,1.808350,150.516480,yes,yes,3.0,3.0,Sometimes,no,2.305574,no,1.734424,0.863043,Sometimes,Public_Transportation,Obesity_Type_III

In [37]:
obesity_data.loc[(obesity_data['Weight']<50) & (obesity_data['Obesity']=="Normal_Weight")]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.0,1.56,49.0,no,yes,2.0,3.0,Sometimes,no,1.0,yes,2.0,0.0,no,Walking,Normal_Weight
37,Female,21.0,1.60,48.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.0,1.50,44.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
60,Female,21.0,1.55,49.0,yes,yes,2.0,3.0,Sometimes,no,3.0,no,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
94,Female,24.0,1.60,48.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
113,Female,22.0,1.50,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Walking,Normal_Weight
156,Female,35.0,1.53,45.0,yes,no,3.0,3.0,Frequently,no,1.0,no,0.0,1.0,no,Automobile,Normal_Weight
176,Female,18.0,1.57,48.0,yes,yes,3.0,1.0,Always,no,1.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
180,Female,18.0,1.58,48.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
218,Female,21.0,1.50,42.3,yes,no,1.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Public_Transportation,Normal_Weight
234,Female,19.0,1.59,49.0,yes,yes,2.0,1.0,no,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
244,Female,21.0,1.54,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,yes,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
253,Female,26.0,1.59,47.0,yes,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
303,Female,16.0,1.57,49.0,no,yes,2.0,4.0,Always,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
307,Female,23.0,1.59,48.0,yes,yes,2.0,1.0,Frequently,no,1.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
318,Female,25.0,1.56,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
346,Female,21.0,1.54,47.0,yes,no,3.0,3.0,Always,no,1.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
359,Female,33.0,1.56,48.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
385,Female,16.0,1.55,45.0,no,yes,2.0,3.0,Frequently,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
445,Female,19.0,1.51,45.0,no,yes,2.0,4.0,Sometimes,no,1.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
457,Female,19.0,1.50,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [38]:
obesity_data.loc[(obesity_data['Weight']<50) | (obesity_data['SMOKE']=="yes")]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1,Female,21.000000,1.520000,56.000000,yes,no,3.000000,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
18,Female,30.000000,1.710000,82.000000,yes,yes,3.000000,4.0,Frequently,yes,1.000000,no,0.000000,0.000000,no,Automobile,Overweight_Level_II
21,Female,52.000000,1.690000,87.000000,yes,yes,3.000000,1.0,Sometimes,yes,2.000000,no,0.000000,0.000000,no,Automobile,Obesity_Type_I
25,Male,20.000000,1.600000,50.000000,yes,no,2.000000,4.0,Frequently,yes,2.000000,no,3.000000,2.000000,no,Public_Transportation,Normal_Weight
36,Female,22.000000,1.560000,49.000000,no,yes,2.000000,3.0,Sometimes,no,1.000000,yes,2.000000,0.000000,no,Walking,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676,Male,30.684347,1.915000,129.966428,yes,yes,2.108638,3.0,Sometimes,yes,1.014876,no,0.987521,0.047473,Sometimes,Public_Transportation,Obesity_Type_II
1727,Male,31.205668,1.877732,127.161381,yes,yes,2.731368,3.0,Sometimes,yes,1.486824,no,1.485978,1.150439,Sometimes,Public_Transportation,Obesity_Type_II
1728,Male,30.899219,1.909639,129.013178,yes,yes,2.222590,3.0,Sometimes,yes,1.591909,no,1.392026,0.917727,Sometimes,Public_Transportation,Obesity_Type_II
1763,Male,31.199261,1.848845,125.077863,yes,yes,2.496190,3.0,Sometimes,yes,1.662117,no,0.992371,0.217632,Sometimes,Public_Transportation,Obesity_Type_II
1764,Male,31.190219,1.842812,125.973927,yes,yes,2.151335,3.0,Sometimes,yes,1.491169,no,0.883542,0.527766,Sometimes,Public_Transportation,Obesity_Type_II

In [39]:
# Not compulsory to use loc here (SHORT HAND NOTATION)
obesity_data[(obesity_data['Weight']<50) | (obesity_data['SMOKE']=="yes")]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1,Female,21.000000,1.520000,56.000000,yes,no,3.000000,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
18,Female,30.000000,1.710000,82.000000,yes,yes,3.000000,4.0,Frequently,yes,1.000000,no,0.000000,0.000000,no,Automobile,Overweight_Level_II
21,Female,52.000000,1.690000,87.000000,yes,yes,3.000000,1.0,Sometimes,yes,2.000000,no,0.000000,0.000000,no,Automobile,Obesity_Type_I
25,Male,20.000000,1.600000,50.000000,yes,no,2.000000,4.0,Frequently,yes,2.000000,no,3.000000,2.000000,no,Public_Transportation,Normal_Weight
36,Female,22.000000,1.560000,49.000000,no,yes,2.000000,3.0,Sometimes,no,1.000000,yes,2.000000,0.000000,no,Walking,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1676,Male,30.684347,1.915000,129.966428,yes,yes,2.108638,3.0,Sometimes,yes,1.014876,no,0.987521,0.047473,Sometimes,Public_Transportation,Obesity_Type_II
1727,Male,31.205668,1.877732,127.161381,yes,yes,2.731368,3.0,Sometimes,yes,1.486824,no,1.485978,1.150439,Sometimes,Public_Transportation,Obesity_Type_II
1728,Male,30.899219,1.909639,129.013178,yes,yes,2.222590,3.0,Sometimes,yes,1.591909,no,1.392026,0.917727,Sometimes,Public_Transportation,Obesity_Type_II
1763,Male,31.199261,1.848845,125.077863,yes,yes,2.496190,3.0,Sometimes,yes,1.662117,no,0.992371,0.217632,Sometimes,Public_Transportation,Obesity_Type_II
1764,Male,31.190219,1.842812,125.973927,yes,yes,2.151335,3.0,Sometimes,yes,1.491169,no,0.883542,0.527766,Sometimes,Public_Transportation,Obesity_Type_II

## Regex

In [40]:
obesity_data.loc[obesity_data['Obesity'].str.contains('Normal')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [41]:
obesity_data.loc[obesity_data['Obesity'].str.startswith('Insu')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
59,Male,20.000000,1.760000,55.000000,yes,yes,2.000000,4.000000,Sometimes,no,3.000000,no,2.000000,2.000000,no,Public_Transportation,Insufficient_Weight
71,Female,22.000000,1.670000,50.000000,yes,no,3.000000,3.000000,no,no,3.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
75,Female,23.000000,1.630000,45.000000,yes,no,3.000000,3.000000,Sometimes,no,3.000000,yes,2.000000,0.000000,no,Public_Transportation,Insufficient_Weight
76,Female,24.000000,1.600000,45.000000,yes,no,2.000000,3.000000,no,no,2.000000,no,1.000000,0.000000,no,Public_Transportation,Insufficient_Weight
83,Female,19.000000,1.600000,45.000000,no,no,3.000000,3.000000,no,no,3.000000,yes,2.000000,0.000000,no,Walking,Insufficient_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,Female,19.000000,1.531610,42.000000,no,yes,2.749268,1.394539,Frequently,no,1.322048,no,0.463949,0.800993,Sometimes,Public_Transportation,Insufficient_Weight
741,Female,19.434709,1.525691,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.764055,no,0.000000,0.560887,Sometimes,Public_Transportation,Insufficient_Weight
742,Male,18.000000,1.719827,52.289828,yes,yes,1.202075,3.000000,Sometimes,no,1.927976,no,0.023574,1.747256,Sometimes,Public_Transportation,Insufficient_Weight
743,Male,18.381382,1.722547,53.783977,yes,yes,2.000000,3.131032,Sometimes,no,2.072194,no,1.487987,2.000000,Sometimes,Public_Transportation,Insufficient_Weight
744,Male,18.000000,1.738702,50.248677,yes,yes,1.871213,3.000000,Sometimes,no,1.283738,no,0.684879,1.487223,Sometimes,Public_Transportation,Insufficient_Weight

In [42]:
obesity_data[obesity_data['Obesity'].str.startswith('Insu')]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
59,Male,20.000000,1.760000,55.000000,yes,yes,2.000000,4.000000,Sometimes,no,3.000000,no,2.000000,2.000000,no,Public_Transportation,Insufficient_Weight
71,Female,22.000000,1.670000,50.000000,yes,no,3.000000,3.000000,no,no,3.000000,yes,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
75,Female,23.000000,1.630000,45.000000,yes,no,3.000000,3.000000,Sometimes,no,3.000000,yes,2.000000,0.000000,no,Public_Transportation,Insufficient_Weight
76,Female,24.000000,1.600000,45.000000,yes,no,2.000000,3.000000,no,no,2.000000,no,1.000000,0.000000,no,Public_Transportation,Insufficient_Weight
83,Female,19.000000,1.600000,45.000000,no,no,3.000000,3.000000,no,no,3.000000,yes,2.000000,0.000000,no,Walking,Insufficient_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,Female,19.000000,1.531610,42.000000,no,yes,2.749268,1.394539,Frequently,no,1.322048,no,0.463949,0.800993,Sometimes,Public_Transportation,Insufficient_Weight
741,Female,19.434709,1.525691,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.764055,no,0.000000,0.560887,Sometimes,Public_Transportation,Insufficient_Weight
742,Male,18.000000,1.719827,52.289828,yes,yes,1.202075,3.000000,Sometimes,no,1.927976,no,0.023574,1.747256,Sometimes,Public_Transportation,Insufficient_Weight
743,Male,18.381382,1.722547,53.783977,yes,yes,2.000000,3.131032,Sometimes,no,2.072194,no,1.487987,2.000000,Sometimes,Public_Transportation,Insufficient_Weight
744,Male,18.000000,1.738702,50.248677,yes,yes,1.871213,3.000000,Sometimes,no,1.283738,no,0.684879,1.487223,Sometimes,Public_Transportation,Insufficient_Weight

## Updating data

### Note that the changes we are going to make will be updated here and not in original data that is our csv file

In [43]:
obesity_data.loc[0,'Age'] = 25

In [44]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,25.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [45]:
obesity_data.loc[: ,'SMOKE'] = "yes"

In [46]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,25.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,yes,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,yes,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,yes,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [47]:
obesity_data = pd.read_csv('./obesity_prediction.csv')

In [48]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [49]:
obesity_data.loc[[2,3],'Height'] = 1.6

In [50]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [51]:
obesity_data.loc[0:2,"SMOKE"] = "Dont Know"

In [52]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Dont Know,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,Dont Know,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Dont Know,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

## Iloc , at , Iat for Updating Data

In [53]:
obesity_data.iloc[1,4] = "no data found" # Updates at index 1 of row and index 4 a col

In [54]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Dont Know,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Dont Know,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Dont Know,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [55]:
obesity_data.iloc[:,9] = "Should't Do"  # updates value of smoke at all index

In [56]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Should't Do,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Should't Do,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Should't Do,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,Should't Do,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Should't Do,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [57]:
obesity_data.at[2,'Obesity'] = "Need to Work Out" # Updates Obesity

In [58]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Should't Do,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Should't Do,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Should't Do,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,Should't Do,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Should't Do,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [59]:
obesity_data.iat[2,0] = "Secret for Now" # Updates Gender at index 2

In [60]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Should't Do,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Should't Do,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Secret for Now,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Should't Do,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,Should't Do,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Should't Do,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [61]:
obesity_data['SMOKE'] = "Never Do it" # Short hand Notation

In [62]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Secret for Now,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

## Data Transformation using apply()

In [63]:
# Increase age of all data by 5
# apply automaitcally takes axis = 0 means it is on column and apply expects a function

def increment_age_by_5(age):
    return age+5

# Note apply doesnt change the original Data Frame
obesity_data['Age'] = obesity_data['Age'].apply(increment_age_by_5)

In [64]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,26.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,26.0,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Secret for Now,28.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out
3,Male,32.0,1.60,87.0,no,no,3.0,3.0,Sometimes,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,27.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [65]:

# we can also use lambda that is unnamed anonymous Funciton
obesity_data['Age'] = obesity_data['Age'].apply(lambda x : x - 5 )

In [66]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Secret for Now,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [67]:
# Add nre Column
obesity_data['Age Category'] = obesity_data['Age'].apply(lambda x :" Young" if x<25 else "Old")

In [68]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young
2,Secret for Now,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young

In [69]:
import numpy as np
# Another way of doing condition using numpy vectorized opertaion
obesity_data["New Age Category"] = np.where(obesity_data['Age']<25 , "Young","Old now Also")

In [70]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young

In [71]:
obesity_data.insert(2 , 'BMI' , 20)

In [72]:
obesity_data.head()

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,20,1.62,64.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.0,20,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.0,20,1.60,77.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.0,20,1.60,87.0,no,no,3.0,3.0,Sometimes,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.0,20,1.78,89.8,no,no,2.0,1.0,Sometimes,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young

## Delete and Rename Columns

In [73]:
obesity_data.drop(columns="BMI") # Doesnt chage the original data directly need to store in obesity data to update

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,Never Do it,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.000000,1.520000,56.000000,no data found,no,3.0,3.0,Sometimes,Never Do it,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.000000,1.600000,77.000000,yes,no,2.0,3.0,Sometimes,Never Do it,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.000000,1.600000,87.000000,no,no,3.0,3.0,Sometimes,Never Do it,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,Never Do it,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,Never Do it,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,Young,Young
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,Never Do it,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,Young,Young
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,Never Do it,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,Young,Young
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,Never Do it,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,Young,Young
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,Never Do it,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,Young,Young

In [74]:
obesity_data.head()

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,20,1.62,64.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.0,20,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.0,20,1.60,77.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.0,20,1.60,87.0,no,no,3.0,3.0,Sometimes,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.0,20,1.78,89.8,no,no,2.0,1.0,Sometimes,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young

In [75]:
obesity_data.drop(columns="BMI", inplace=True) # Now changes the data too

In [76]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young

In [77]:
obesity_data.insert(2,"BMI",obesity_data['Weight']/(obesity_data['Height']**2))

In [78]:
obesity_data.head()

,Gender,Age,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,24.386526,1.62,64.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.0,24.238227,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.0,30.078125,1.60,77.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.0,33.984375,1.60,87.0,no,no,3.0,3.0,Sometimes,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.0,28.342381,1.78,89.8,no,no,2.0,1.0,Sometimes,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young

In [79]:
obesity_data = obesity_data.drop(columns="BMI")

In [80]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young

In [81]:
obesity_data.insert(2,"BMI",obesity_data['Weight']/(obesity_data['Height']**2))
obesity_data.insert(2,"BMI New",obesity_data['Weight']/(obesity_data['Height']**2))

In [82]:
obesity_data.head()

,Gender,Age,BMI New,BMI,Height,Weight,family_history,FAVC,FCVC,NCP,...,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,24.386526,24.386526,1.62,64.0,yes,no,2.0,3.0,...,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.0,24.238227,24.238227,1.52,56.0,no data found,no,3.0,3.0,...,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.0,30.078125,30.078125,1.60,77.0,yes,no,2.0,3.0,...,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.0,33.984375,33.984375,1.60,87.0,no,no,3.0,3.0,...,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.0,28.342381,28.342381,1.78,89.8,no,no,2.0,1.0,...,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young

In [83]:
obesity_data = obesity_data.drop(columns=["BMI" , "BMI New"]) # Remove Multiplr

In [84]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Sometimes,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.0,1.60,77.0,yes,no,2.0,3.0,Sometimes,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Sometimes,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young

In [85]:
del obesity_data['CAEC'] # Deletes column in original Data only

In [86]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.0,1.60,77.0,yes,no,2.0,3.0,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young

In [87]:
obesity_data.rename(columns={'Obesity':"Motapa"}) # Also doesnt in original Data need to do inplace or assign to original data

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Motapa,Age Category,New Age Category
0,Female,21.000000,1.620000,64.000000,yes,no,2.0,3.0,Never Do it,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.000000,1.520000,56.000000,no data found,no,3.0,3.0,Never Do it,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.000000,1.600000,77.000000,yes,no,2.0,3.0,Never Do it,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.000000,1.600000,87.000000,no,no,3.0,3.0,Never Do it,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Never Do it,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Never Do it,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,Young,Young
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Never Do it,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,Young,Young
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Never Do it,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,Young,Young
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Never Do it,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,Young,Young
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Never Do it,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,Young,Young

In [88]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category,New Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.0,1.60,77.0,yes,no,2.0,3.0,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young

In [89]:
obesity_data.rename(columns={'Obesity':"Healthy Level", "New Age Category": "Duplicate Age Cat"},inplace=True)

In [90]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Healthy Level,Age Category,Duplicate Age Cat
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young,Young
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young,Young
2,Secret for Now,23.0,1.60,77.0,yes,no,2.0,3.0,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young,Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old,Old now Also
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young,Young

In [91]:
del obesity_data['Duplicate Age Cat']

In [92]:
obesity_data.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Healthy Level,Age Category
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Never Do it,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight,Young
1,Female,21.0,1.52,56.0,no data found,no,3.0,3.0,Never Do it,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight,Young
2,Secret for Now,23.0,1.60,77.0,yes,no,2.0,3.0,Never Do it,2.0,no,2.0,1.0,Frequently,Public_Transportation,Need to Work Out,Young
3,Male,27.0,1.60,87.0,no,no,3.0,3.0,Never Do it,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I,Old
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Never Do it,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II,Young

## Merge, Join & Concatenate DataFrames

In [94]:
df1 = pd.DataFrame({
    'id':[1,2,3,4],
    'name':['Keerti','Aman','Ankush','Ayush'],
})

df2 = pd.DataFrame({
    'id':[3,4,5,6],
    'course':['AI','JS','CPP','Full Stack'],
})

inner_result = pd.merge(df1,df2,how="inner",on="id")
inner_result

   id    name course
0   3  Ankush     AI
1   4   Ayush     JS

In [95]:
outer_result = pd.merge(df1,df2,how="outer",on="id")
outer_result

   id    name      course
0   1  Keerti         NaN
1   2    Aman         NaN
2   3  Ankush          AI
3   4   Ayush          JS
4   5     NaN         CPP
5   6     NaN  Full Stack

In [96]:
left_result = pd.merge(df1,df2,how="left",on="id")
left_result

   id    name course
0   1  Keerti    NaN
1   2    Aman    NaN
2   3  Ankush     AI
3   4   Ayush     JS

In [97]:
right_result = pd.merge(df1,df2,how="right",on="id")
right_result

   id    name      course
0   3  Ankush          AI
1   4   Ayush          JS
2   5     NaN         CPP
3   6     NaN  Full Stack

In [115]:
df3 = pd.DataFrame({
    'id1':[1,2,3,4],
    'name':['Keerti','Aman','Ankush','Ayush'],
})

df4 = pd.DataFrame({
    'id2':[3,4,5,6],
    'course':['AI','JS','CPP','Full Stack'],
})

inner_result = pd.merge(df3,df4,how="inner",left_on="id1",right_on="id2")
# Left on and right on can be specified when differnet column names
inner_result

   id1    name  id2 course
0    3  Ankush    3     AI
1    4   Ayush    4     JS

In [119]:
df5 = pd.DataFrame({
    'id':[1,2,3,4],
    'name':['Keerti','Aman','Ankush','Ayush'],
})

df6 = pd.DataFrame({
    'id':[3,4,5,6],
    'course':['AI','JS','CPP','Full Stack'],
})

result = pd.concat([df5,df6],axis=0) # Vertically
result

   id    name      course
0   1  Keerti         NaN
1   2    Aman         NaN
2   3  Ankush         NaN
3   4   Ayush         NaN
0   3     NaN          AI
1   4     NaN          JS
2   5     NaN         CPP
3   6     NaN  Full Stack

In [120]:
result_with_unique_index = pd.concat((df5,df6),axis=0,ignore_index=True)
result_with_unique_index

   id    name      course
0   1  Keerti         NaN
1   2    Aman         NaN
2   3  Ankush         NaN
3   4   Ayush         NaN
4   3     NaN          AI
5   4     NaN          JS
6   5     NaN         CPP
7   6     NaN  Full Stack

In [121]:
result2 = pd.concat([df5,df6],axis=1)
result2

   id    name  id      course
0   1  Keerti   3          AI
1   2    Aman   4          JS
2   3  Ankush   5         CPP
3   4   Ayush   6  Full Stack

In [ ]:
result3 = pd.concat([df5,df6],axis=1)
result3